@inject Radzen.DialogService dialogService

<div class="row my-4">
    <div class="col-md-12">
        <RadzenCard Style="width: 100%; overflow: hidden; border: var(--rz-grid-cell-border)" Class="rz-shadow-0">
            <div class="d-flex flex-row">
                <RadzenIcon Icon="android" Class="rounded-circle float-start mt-1 me-3"
                    Style="width: 90px; height: 90px;" />
                <div>
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0"
                        Style="color: var(--rz-text-tertiary-color);">Github</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2"><b>@(repo!.name)</b></RadzenText>
                </div>
            </div>
        </RadzenCard>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 d-flex">
        <RadzenCard Style="width: 100%; overflow: hidden; border: var(--rz-grid-cell-border)" Class="rz-shadow-0">
            <RadzenText TextStyle="TextStyle.Subtitle1">Information</RadzenText>
            @if (repo!.description != null)
            {
                <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0"
                Style="color: var(--rz-text-tertiary-color);">Description</RadzenText>
                <RadzenText TextStyle="TextStyle.Body2"><b>@(repo!.description)</b></RadzenText>
            }
            <div class="row">
                <div class="col">
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0"
                        Style="color: var(--rz-text-tertiary-color);">Fork</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2"><b>@(repo!.forks)</b></RadzenText>
                </div>
                <div class="col">
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0"
                        Style="color: var(--rz-text-tertiary-color);">Watchers</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2"><b>@(repo!.watchers)</b></RadzenText>
                </div>
                @if (repo!.language != null)
                {
                    <div class="col">
                        <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0"
                        Style="color: var(--rz-text-tertiary-color);">Langage</RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2"><b>@(repo!.language)</b></RadzenText>
                    </div>
                }
            </div>
        </RadzenCard>
    </div>
    <div class="col-lg-6 d-flex">
        <RadzenCard Style="width: 100%; overflow: hidden; border: var(--rz-grid-cell-border)" Class="rz-shadow-0">
            <RadzenText TextStyle="TextStyle.Subtitle1">Lien</RadzenText>
            <div class="row">
                <div class="col">
                    <RadzenText TextStyle="TextStyle.Overline" Class="d-flex mt-3 mb-0"
                        Style="color: var(--rz-text-tertiary-color);">Description</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body2"><b>@repo!.description</b></RadzenText>
                </div>
            </div>
        </RadzenCard>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-end">
        <RadzenButton Click="@((args) => dialogService.Close(false))" Variant="Variant.Flat"
            ButtonStyle="ButtonStyle.Light" Text="Cancel" Style="width: 120px" Class="me-1" />
        <RadzenButton Click="@((args) => dialogService.Close(true))" Variant="Variant.Flat" Text="OK"
            Style="width: 120px" />
    </div>
</div>

@code {
    [Parameter] public Repo? repo { get; set; }
}
