@page "/"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http
@inject IJSRuntime JSRuntime;
@inject NavigationManager navigationManager
@inject IStringLocalizer<Index> Loc

<PageTitle>@Loc["page_title"]</PageTitle>

<section id="home" class="w-screen h-screen">
    <MudCarousel Class="w-full h-full" ShowArrows="@arrows" ShowBullets="@bullets"
        EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
        <MudCarouselItem Transition="transition" Color="@Color.Primary"
            Class="bg-[url('img/IMG_9563.JPG')] bg-center bg-cover flex">
            <div class="w-full h-full bg-black/[.4] items-center justify-center flex">
                <div class="absolute right-0 top-0 pt-1 pb-1 pl-2 pr-2 bg-black/[.3]">© Antonin Rouxel</div>
                <div class="pl-4 pr-4 mt-auto mb-auto absolute">
                    <div class="pt-6 pb-6 justify-center flex">
                        <div class="items-center text-center">
                            <div class="font-bold text-4xl">Antonin Rouxel</div>
                            <div class="font-medium text-xl mt-2">
                                Etudiant en BUT Informatique à l'IUT de Nantes
                            </div>
                            <div class="flex flex-row mt-4 justify-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="transition" Color="@Color.Primary"
            Class="bg-[url('img/IMG_8915.JPG')] bg-center bg-cover flex">
            <div class="w-full h-full bg-black/[.4] items-center justify-center flex">
                <div class="absolute right-0 top-0 pt-1 pb-1 pl-2 pr-2 bg-black/[.3]">© Antonin Rouxel</div>
                <div class="pl-4 pr-4 mt-auto mb-auto absolute">
                    <div class="pt-6 pb-6 justify-center flex">
                        <div class="items-center text-center">
                            <div class="font-bold text-4xl">Antonin Rouxel</div>
                            <div class="font-medium text-xl mt-2">
                                Etudiant en BUT Informatique à l'IUT de Nantes
                            </div>
                            <div class="flex flex-row mt-4 justify-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="transition" Color="@Color.Primary"
            Class="bg-[url('img/IMG_5155.JPG')] bg-center bg-cover flex">
            <div class="w-full h-full bg-black/[.4] items-center justify-center flex">
                <div class="absolute right-0 top-0 pt-1 pb-1 pl-2 pr-2 bg-black/[.3]">© Antonin Rouxel</div>
                <div class="pl-4 pr-4 mt-auto mb-auto absolute">
                    <div class="pt-6 pb-6 justify-center flex">
                        <div class="items-center text-center">
                            <div class="font-bold text-4xl">Antonin Rouxel</div>
                            <div class="font-medium text-xl mt-2">
                                Etudiant en BUT Informatique à l'IUT de Nantes
                            </div>
                            <div class="flex flex-row mt-4 justify-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </MudCarouselItem>
    </MudCarousel>
</section>

<section id="parcours" class="w-screen min-h-screen justify-center flex bg-EUGrey-3">
    <div class="pl-4 pr-4 mt-auto mb-auto">
        <div class="pt-6 pb-6 justify-center flex">
            <div class="items-center">
                <div class="font-bold text-4xl text-center">Parcours</div>
                <MudTimeline Class="mt-10" TimelineAlign="_timelineAlign">
                    <MudTimelineItem Color="Color.Success" Elevation="25" TimelineAlign="TimelineAlign.End">
                        <ItemOpposite>
                            <MudText Color="Color.Dark" Typo="Typo.h6">2023</MudText>
                        </ItemOpposite>
                        <ItemContent>
                            <div Class="mt-n1">
                                <MudText Class="font-bold" Typo="Typo.h6" GutterBottom="true">Stage
                                </MudText>
                                <MudElement Class="text-slate-400" Typo="Typo.body2" HtmlTag="a" target="blank"
                                    rel="noopener noreferrer" href="https://www.lobservatoiredelanuit.fr/">
                                    L'Observatoire de la Nuit</MudElement>
                            </div>
                        </ItemContent>
                    </MudTimelineItem>
                    <MudTimelineItem Color="Color.Primary" Elevation="25" TimelineAlign="TimelineAlign.End"
                        Size="@Size.Medium">
                        <ItemOpposite>
                            <MudText Color="Color.Dark" Typo="Typo.h6">2021 - 2024</MudText>
                        </ItemOpposite>
                        <ItemContent>
                            <div Class="mt-n1">
                                <MudText Class="font-bold" Typo="Typo.h6" GutterBottom="true">BUT Informatique</MudText>
                                <MudElement Class="text-slate-400" Typo="Typo.body2" HtmlTag="a" target="blank"
                                    rel="noopener noreferrer" href="https://iutnantes.univ-nantes.fr/">
                                    IUT Nantes</MudElement>
                            </div>
                        </ItemContent>
                    </MudTimelineItem>
                    <MudTimelineItem Color="Color.Secondary" Elevation="25" TimelineAlign="TimelineAlign.End">
                        <ItemOpposite>
                            <MudText Color="Color.Dark" Typo="Typo.h6">2021</MudText>
                        </ItemOpposite>
                        <ItemContent>
                            <div Class="mt-n1">
                                <MudText Class="font-bold" Typo="Typo.h6" GutterBottom="true">Baccalauréat Technologique
                                </MudText>
                                <MudElement Class="text-slate-400" Typo="Typo.body2" HtmlTag="a" target="blank"
                                    rel="noopener noreferrer" href="https://appert.paysdelaloire.e-lyco.fr/">
                                    Lycée Nicolas Appert</MudElement>
                                <MudText Typo="Typo.body2">Sciences et technologies de l'industrie et du développement
                                    durableenseignement spécifique « Systèmes d'information et numérique »</MudText>
                                <MudText Typo="Typo.body2">Mention Bien</MudText>
                            </div>
                        </ItemContent>
                    </MudTimelineItem>
                    <MudTimelineItem Color="Color.Secondary" Elevation="25" TimelineAlign="TimelineAlign.End">
                        <ItemOpposite>
                            <MudText Color="Color.Dark" Typo="Typo.h6">2020</MudText>
                        </ItemOpposite>
                        <ItemContent>
                            <div Class="mt-n1">
                                <MudText Class="font-bold" Typo="Typo.h6" GutterBottom="true">PSC1
                                </MudText>
                                <MudElement Class="text-slate-400" Typo="Typo.body2" HtmlTag="a" target="blank"
                                    rel="noopener noreferrer" href="https://www.protection-civile.org/">
                                    Protection Civile</MudElement>
                            </div>
                        </ItemContent>
                    </MudTimelineItem>
                </MudTimeline>
            </div>
        </div>
    </div>
</section>

<section id="parcours" class="w-screen min-h-screen justify-center flex bg-EUGrey-5">
    <div class="pl-4 pr-4 mt-auto mb-auto">
        <div class="pt-6 pb-6 justify-center flex">
            <div class="items-center">
                <div class="font-bold text-4xl text-center">Compétence</div>
                <MudTabs class="mt-10 bg-white" Elevation="2" Rounded="true" Centered="true"
                    ApplyEffectsToContainer="true" PanelClass="p-6">
                    @foreach (var category in skills.Select(s => s.Category).Distinct())
                    {
                        <MudTabPanel Icon="@Icons.Material.Filled.LogoDev">
                            <MudText Typo="Typo.h5" Class="text-center">@category</MudText>
                        </MudTabPanel>
                    }
                </MudTabs>
            </div>
        </div>
    </div>
</section>

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
    private TimelineAlign _timelineAlign { get; set; } = TimelineAlign.Start;

    List<Competence>? skills = null;

    protected override void OnInitialized()
    {
        skills = new List<Competence>()
{
new Competence(Name: "C#", Category: Loc["section_competence_name_development"], Level: 50),
new Competence(Name: "Kotlin", Category: Loc["section_competence_name_development"], Level: 75),
new Competence(Name: "PHP", Category: Loc["section_competence_name_development"], Level: 50),
new Competence(Name: "HTML - CSS", Category: Loc["section_competence_name_development"], Level: 80),
new Competence(Name: "JavaScript", Category: Loc["section_competence_name_development"], Level: 10),
new Competence(Name: "SQL", Category: Loc["section_competence_name_database"], Level: 60),
new Competence(Name: "Docker", Category: Loc["section_competence_name_infrastructure"], Level: 0),
new Competence(Name: "Linux", Category: Loc["section_competence_name_operating_system"], Level: 80)
};
    }
}